@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=iJWKBXyIfDnIV4nDp3uS0VfQwaZO_vmmZFAGaL_0_PY&skey=cee854e66788286d&v=v28) format('woff2');
}
body {
  background-color: #F2F2F2;
  color: #707070;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  height: 100vh;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.full-height {
  height: 100vh;
}
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.position-ref {
  position: relative;
}
.num {
  font-size: 37px;
  font-weight: 400;
  padding: 0 3px;
  text-align: center;
}
.ms {
  font-size: 27px;
  padding: 0 0 16px;
  text-align: center;
}
@media(prefers-color-scheme:dark) {
  body {
    background: #222;
    color: #C9C9C9
  }
}